<div class="todo-container">
  <h2>My Todo Demo</h2>
  <input matInput maxlength="256" placeholder="Add New Todo Here" [(ngModel)]="newTodoName" />
  <button mat-raised-button color="primary" (click)="addTodo(newTodoName)">Add Task</button>

  <mat-list>
    <mat-list-item *ngFor="let todo of todos">
      <div class="todo-item">
        <span>{{ todo.name }}</span>
        <button mat-icon-button color="warn" (click)="deleteTodo(todo.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
</div>